html, textarea, div {
  /* background-color: rgb(34, 39, 46); */
  background-color: #303030;
  color: #fff;
  padding: 0;
  margin: 0;
  scroll-snap-type: y mandatory;
}

h1, h2, h3, h4, hr {
  scroll-snap-align: start;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: 100vh;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

section {
  height: 100vh;
  overflow-y: scroll;
  width: 100%;

  /* display: flex; */
}

textarea, div {
  height: 94%;
  padding: 0.8rem;
  border: solid black 2px;
  width: 90%;
  padding: 4%;
  /* max-width: 100%; */
  overflow-y: scroll;
  overflow-x: hidden;
}

button {
  width: 100%;
  background-color: #404040;
  padding: 4em;
}

*:focus {
  outline: none;
  border: solid white 2px;
}
